<div class="background">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="wrapper">
<div class="container-fluid">
	<div class="jumbotron vertical-center">
	<p>Horarios : Martes a domingo de 10:00 a 17:00 h.</p>
</div>
</div>
