<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to image_tag("museonacional.png", :alt => "Museo Nacional de Historia Natural y Cultura Ambiental"), root_path %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <%= link_to image_tag("agenda.png", :alt => "Agenda"), agenda_path %>
        <%= link_to image_tag("contenido.png", :alt => "Contenido"), contenido_path %><br>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>